# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
.env
**/.env
venv/

# Node / React
node_modules/
dist/
.agents/
.cache/

# Build
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo